body{
	width:100%;
    height:100%;
    background:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    margin:0;
    padding:0;
}

#header1 {
    text-align:center;
    font-size:70px;
    margin-top:200px;
    margin-bottom:-80px;
    position:relative;
    color:#868080;
}

#header2 {
    text-align:center;
    font-size:30px;
    margin-top:100px;
    margin-bottom:-80px;
    position:relative;
    color:#868080;
}

#support {
    text-align:center;
    font-size:20px;
    margin-top:200px;
    margin-bottom:-80px;
    position:relative;
    color:#868080;
}

.logo{
	position: top left;
	height: 70px;
	left: 0px;
	width: 350px;
}
.h1{
	text-align:center;
    font-size:60px;
    margin-top:80px;
    margin-bottom:-40px;
    position:relative;
    color:#ffffff;
}
