Custom Error Pages

.htaccess

HTTP Reponse Status Codes

500 /500 internal server error.html
502 /502 bad gateway.html
503 /503 service temporarily unavailable.html
504 /504 bad gateway.html
520 /520 web server returns an unknown error.html
521 /521 web server is down.html
522 /522 connection timed out.html
523 /523 origin is unreachable.html
524 /524 a timeout occurred.html
525 /525 SSL handshake failed.html
526 /526 invalid SSL certificate.html
527 /527 Railgun Listener to origin error.html
530 /530 Error 530.html
